
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Webpage</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
</head>
<body>

	<div class="container my-2">
	<h1 class="text-primary">Admin webpage</h1>
	<div class="row">
	  <div class="col-sm-3 ">
	  
	  <ul class="nav navbar-dark bg-dark">
	   <h3 style="color:Black">Patient</h3>
	   <li class="nav-item"><a  th:href = "@{/registration}" button type="button" class= "btn btn-primary"> Add New Patient </a></li><br>
	  <li class="nav-item"><a  th:href = "@{/getPatients}" button type="button" class=" btn btn-primary"> Patient List</a></li>
	  </ul>
	  </div>
	  <div class="col-sm-9">
	  </div>
	</div>
	
</div>
</body>		
</html>